
		.cls_002{font-family:"Cambria",serif;font-size:10.0px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
		div.cls_002{font-family:"Cambria",serif;font-size:10.0px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
		span.cls_012{font-family:"Cambria",serif;font-size:10.0px;color:rgb(119,119,119);font-weight:normal;font-style:normal;text-decoration: underline}
		div.cls_012{font-family:"Cambria",serif;font-size:10.0px;color:rgb(119,119,119);font-weight:normal;font-style:normal;text-decoration: none}
		span.cls_005{font-family:"Cambria Bold",serif;font-size:18.1px;color:rgb(108,108,108);font-weight:bold;font-style:normal;text-decoration: none}
		div.cls_005{font-family:"Cambria Bold",serif;font-size:18.1px;color:rgb(108,108,108);font-weight:bold;font-style:normal;text-decoration: none}
		span.cls_007{font-family:"Calibri",serif;font-size:14.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
		div.cls_007{font-family:"Calibri",serif;font-size:14.1px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
		span.cls_008{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(86,112,135);font-weight:bold;font-style:normal;text-decoration: none}
		div.cls_008{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(86,112,135);font-weight:bold;font-style:normal;text-decoration: none}
		span.cls_009{font-family:"Calibri",serif;font-size:10.0px;color:rgb(86,112,135);font-weight:normal;font-style:normal;text-decoration: none}
		div.cls_009{font-family:"Calibri",serif;font-size:10.0px;color:rgb(86,112,135);font-weight:normal;font-style:normal;text-decoration: none}
		span.cls_010{font-family:"Calibri",serif;font-size:10.0px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
		div.cls_010{font-family:"Calibri",serif;font-size:10.0px;color:rgb(255,255,255);font-weight:normal;font-style:normal;text-decoration: none}
		span.cls_011{font-family:"Cambria",serif;font-size:14.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
		div.cls_011{font-family:"Cambria",serif;font-size:14.1px;color:rgb(108,108,108);font-weight:normal;font-style:normal;text-decoration: none}
		
